.signForm {
    width: 330px;
    margin: 0 auto;
}

.login {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.loginButton {
    display: grid;
    height: 150px;
    justify-content: center;
    align-content: space-around;
}

.switch {
    width: 100px;
    position: relative;
    left: 200px;
}
